body {
    font-family: "Open Sans", "Frutiger", "Helvetica", "Arial", "sans-serif";
}
h1 {
    color: #08f;
    font-weight: 800;
    font-size: 72px;
    text-align: center;
}
h3 {    
    font-weight: 400;
    font-size: 36px;
    text-align: center;
}
.gobutton {
    background-color: #08f;
    border: 1px solid #000;
    border-radius: 24px;
    color: #000;
    font-family: "Open Sans", "Frutiger", "Helvetica", "Arial", "sans-serif";   
    font-weight: 400;
    font-size: 36px;
    padding: 8px;
    text-align: center;
}
form {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}
input {
    font-family: "Open Sans", "Frutiger", "Helvetica", "Arial", "sans-serif";
    font-weight: 400;
    font-size: 20px;
    text-align: left;
    width: 640px;
}
p {
    text-align: center;
}
.crimson {
    color: #f08;
}